.App-header {
  padding: 20px;
}
.App-panel {
  width: 100%;
  max-width: 360px;
  display: inline-block;
  margin-bottom: 30px;
  box-shadow: rgba(0, 0, 0, 0.118) 0px 1px 6px, rgba(0, 0, 0, 0.118) 0px 1px 4px;
  overflow: hidden;
  text-align: left;
}

.App-panel-ball {
  vertical-align: top;
  padding: 0 15px 30px 15px;
  margin-right: 15px;
}
.App-panel-bar {
  margin-bottom: 10px;
}
.App-panel-bar h1, h4{
  font-size: 16px!important;
}
.App-panel-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.App-panel-detail {
  padding-left: 30px;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}
.App-panel-checkbox {
  width: 72%!important;
}
.App-panel-row .lgx-text-field {
  width: 100px!important;
}
.App-panel-row .lgx-text-field input{
  text-align: center!important;
}
.App-bal-row .lgx-text-field {
  width: 100%!important;
}
.App-footer {
  padding-top: 30px;
}

.Icon-name-row:first-child {
  display: inline-block;
  vertical-align: middle;
  padding-right: 10px;
}
.Icon-name-row:last-child  {
  display: inline-block;
  width: 85%;
  vertical-align: middle;
}
.App-bal-row .Icon-name-row:last-child  {
  vertical-align: baseline;
  white-space: nowrap;
}
td {
  padding-top: 15px !important;
  vertical-align: top !important;
}
.Course-name {
  font-weight: 600;
}
.Course-detail {
  font-style: italic;
}
.table-block {
  box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px!important;
}
.App-insert-wrapper {
  padding: 15px 30px 15px 15px;
}
thead {
  background-color: #66BB6A!important;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms !important;
  color: #fff !important;
}

thead h4{
  color: #fff !important;
}
td {
  white-space: normal!important;
}
tr, th {
  height: auto!important;
  white-space: normal!important;
}
label {
  font-weight: 300!important;
}
a {
  color: #827717!important;
}
@media screen and (max-width: 1200px) and (min-width: 992px) {
  .Icon-name-row:first-child{
    padding-right: 0;
  }
}

@media screen and (max-width: 991px) and (min-width: 769px) {
  .App-panel {
    width: 48%;
    max-width: 100%;
  }
}

@media screen and (max-width: 768px){
  .App-panel-block{
    text-align: center;
  }
  .App-panel-ball {
    margin-right: 0;
  }
}